body{
	margin: 10px;
}

p{
	font-size: 20px;
	margin-block-start: auto;
}


a:link{
	text-decoration: none;
}
a:visited{
	color: blue;
	font-weight: normal;
}
a:hover{
	text-decoration: underline;
}
div{
	box-sizing: border-box;
    font-size: 20px;
    padding: 10px;
    border: 1px solid black;
}

#block1{
	background-color: #FFD773;
	float: left;
	height: 1200px;
	width: 25%;
}

#image1{
	width: 50%;	
	float: right;
	margin-left: 10px;
	border-radius: 20px;
	border:1px solid black;
}

#block2{
	background-color: #5CCCCC;
	float: right;
	height: 300px;
	width: 75%;
}

#block2left{
	width: 70%;
	border:0px;
	padding-top: 0px;
	float:left;
}
#block3{
	background-color: #63DB93;
	float: left;
	height: 100px;
	width: 50%;
}

#block4{
	background-color: #63DB93;
	float: right;
	height: 900px;
	width: 25%;
}



#block5{
	background-color: white;
	float: left;
	height: 800px;
	width: 50%;
}

#image2{
	width: 34%;	
	float: left;
	margin-right: 10px;
	border-radius: 20px;
	border:1px solid black;
}

#block6{
	position: relative;
	background-color: #5CCCCC;
	float: left;
	vertical-align: middle;
	height: 300px;
	width: 100%;
}

#x{
	float: right;
	border-radius: 5px;
	margin-right: 50px;
	margin-top: 100px;
	background-color: white;
	height: 100px;
	width: 300px;
}


#y{
	border-radius: 5px;
	float: left;
	margin-left: 50px;
	margin-top: 100px;
	background-color: white;
	height: 100px;
	width: 300px;
}

#block6right{
	border: 0;
	float: right;
	width: 80%;
	margin-top: 40px;

}

.center{
	display: flex;
	justify-content: center;
	align-items: center;
}

button{
	font-size:20px;
	font-weight: bold;
	height: 100%;
	width: 100px;
	border-radius: 10px;
}
button:focus{
	outline: none;
}

textarea{
	width: 85%;
	height: 100%;
	float: right;
	resize: none;
}